#stacks_in_21>.s3_row {
	margin: 0 -10px;
}

#stacks_in_21>.s3_row>.s3_column_left {
	width: 30.00%;
}

#stacks_in_21>.s3_row>.s3_column_right {
	width: 70.000000%;
}




#stacks_in_21>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_21>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_21>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}






#stacks_in_21 {
	margin:  6px;
}

#stacks_in_28 {
	margin:  6px;
}
#stacks_in_32>.s3_row {
	margin: 0 -10px;
}

#stacks_in_32>.s3_row>.s3_column_left {
	width: 30.00%;
}

#stacks_in_32>.s3_row>.s3_column_right {
	width: 70.000000%;
}




#stacks_in_32>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_32>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_32>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}






#stacks_in_32 {
	margin:  6px;
}

#stacks_in_35 {
	margin:  6px;
}
#stacks_in_59>.s3_row {
	margin: 0 -10px;
}

#stacks_in_59>.s3_row>.s3_column_left {
	width: 30.00%;
}

#stacks_in_59>.s3_row>.s3_column_right {
	width: 70.000000%;
}




#stacks_in_59>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_59>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_59>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}






#stacks_in_59 {
	margin:  6px;
}

#stacks_in_62 {
	margin:  6px;
}
#stacks_in_68>.s3_row {
	margin: 0 -10px;
}

#stacks_in_68>.s3_row>.s3_column_left {
	width: 30.00%;
}

#stacks_in_68>.s3_row>.s3_column_right {
	width: 70.000000%;
}




#stacks_in_68>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_68>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_68>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}






#stacks_in_68 {
	margin:  6px;
}

#stacks_in_71 {
	margin:  6px;
}
#stacks_in_79>.s3_row {
	margin: 0 -10px;
}

#stacks_in_79>.s3_row>.s3_column_left {
	width: 30.00%;
}

#stacks_in_79>.s3_row>.s3_column_right {
	width: 70.000000%;
}




#stacks_in_79>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_79>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_79>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}





#stacks_in_39>.s3_row {
	margin: 0 -10px;
}

#stacks_in_39>.s3_row>.s3_column_left {
	width: 30.00%;
}

#stacks_in_39>.s3_row>.s3_column_right {
	width: 70.000000%;
}




#stacks_in_39>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_39>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_39>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}






#stacks_in_39 {
	margin:  6px;
}
#stacks_in_52>.s3_row {
	margin: 0 -10px;
}

#stacks_in_52>.s3_row>.s3_column_left {
	width: 30.00%;
}

#stacks_in_52>.s3_row>.s3_column_right {
	width: 70.000000%;
}




#stacks_in_52>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_52>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_52>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}





